<!----------HOME: About----------->


<section id="contact" class="section green">
    <div class="container">
        <h4>About Blogit</h4>
        <hr />
        <div class="blankdivider30">
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi sem, pellentesque ut
                    condimentum eget, auctor a est. Sed fermentum metus dui, vitae dictum turpis pretium quis.
                    Aliquam tempor sem quis dolor fermentum consequat. Nam tempor dictum dolor at bibendum.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Donec a ullamcorper mi, id sollicitudin ipsum. Phasellus egestas, ipsum mattis auctor bibendum,
                    lacus libero consequat lacus, vel viverra massa enim a diam. Phasellus placerat eleifend augue
                    sit amet ultrices. Duis bibendum dui a quam molestie iaculis. Nullam scelerisque tristique purus.
                    Integer ut varius elit. Vivamus lacus nibh, lobortis eget facilisis ac, iaculis sit amet orci.
                </p>
                <p>
                    Aliquam vitae ex lorem. In non volutpat augue. Aliquam et pulvinar tortor. Donec facilisis
                    imperdiet nisl, pretium rutrum sem condimentum malesuada. Donec vitae neque enim. Curabitur
                    iaculis consectetur metus ac efficitur. Ut in commodo ipsum.
                </p>
                <p>
                    Morbi rutrum magna at magna dignissim hendrerit. Nam suscipit quis sapien vel luctus.
                    Sed non magna eget leo vestibulum maximus. Nunc erat felis, pharetra sed turpis eu, accumsan
                    vulputate neque. Duis porttitor nec leo vitae suscipit. Etiam auctor eros eleifend velit faucibus
                    efficitur. Mauris dignissim sem a lorem ultricies, at eleifend elit vestibulum.
                </p>
            </div>
        </div>
    </div>
</section>