
<!--------HOME:INDEX---------->


<section id="contact" class="section coral">
    <div class="container">
        <h4 class="font-white">Welcome to Blogit!</h4>
        <p class="font-white text-center">
            Check out some of the public blogs posted by our members!
        </p>

        <div class="blankdivider30">
        </div><section id="blog" class="section">
            <div class="container">
                <div class="row">
                    @foreach (var post in ViewBag.PostList)
                    {
                        <div class="col-lg-4">
                            <div class="home-post">
                                <div class="post-image">
                                    <img class="max-img" src="img/blog/img1.jpg" alt="" />
                                </div>
                                <div class="post-meta">
                                    <i class="icon-file icon-2x"></i>
                                    <span class="date">@post.Created</span>
                                </div>
                                <div class="entry-content">
                                    <h5><strong>@post.Title</strong></h5>
                                    <p>
                                        @post.Teaser &hellip;
                                    </p>
                                    @Html.ActionLink("Read More", "Details", "BlogPost", new { id = post.Id }, null)
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </section>
    </div>
</section>
